.meter {
  display: flex;
  justify-content: flex-end;
  height: 5px;
  background: linear-gradient(to right, #1DDEBB 0%, #98FFFB 100%);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

  &__gauge {
    height: inherit;
    background: #F2F3F4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
